#profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: var(--color-bg-box);
    border-radius: var(--radius-md);
    color: var( --color-primary);
}